body {
    background-color: rgb(208, 238, 248);
}

p {
    font-family: Outfit;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.QR-div {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 0 0.3;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
    width: 300px;
    /* /* display: flex; */
    justify-content: center; 
    align-items: center;
}

.qr-code-img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.title {
    font-size: 18px;
    font-weight: 700;
    margin-top: 20px;
}

.description {
    font-size: 15px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px;
}